<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClb6nslATsYATnMbKZ-GQ5ikvOh7Wszt4</string>
	<key>GCM_SENDER_ID</key>
	<string>1008051949978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tomado</string>
	<key>PROJECT_ID</key>
	<string>tomado-1b014</string>
	<key>STORAGE_BUCKET</key>
	<string>tomado-1b014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008051949978:ios:b0efec79c809f46b94aa23</string>
</dict>
</plist>